.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar main";
  height: 100vh;
}

/* 小屏幕隐藏侧边栏 */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%); /* 侧边栏隐藏 */
    z-index: 1000;
  }

  /* 显示 sidebar */
  .sidebar.sidebar-open {
    transform: translateX(0);
  }

  /* 遮罩层 */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}

/* 在大屏幕（>768px）时隐藏按钮 */
@media (min-width: 769px) {
  .toggle-btn {
    display: none;
  }
}

/* 侧边栏切换按钮 */
.toggle-btn {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background: #333;
  color: #fafafa;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  z-index: 1100;
}

.main {
  height: 100vh;
  overflow-y: scroll;
}

.gallery {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  margin: .5rem;
  /* margin-left: 0; */
  box-shadow: 3px 3px 10px 0px rgb(182 182 182 / 57%);
  padding: .8rem 0;
}

.gallery-header {
  display: grid;
  grid-template-columns: 1fr auto;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding: 1rem;
  border-bottom: 1px dashed #ebebeb;
  color: #3f3f3f;
  font-size: .8rem;
}

.gallery-header-btn-group {
  color: #b62e2e;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-divider {
  width: 0px;
  height: 100%;
  border-left: 1px dashed #b62e2e;
  margin: 0 2px;
}

.gallery-item {
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.gallery-item:hover {
  transform: scale(1.03);
}
