.sidebar {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "content" "footer";
    width: 300px;
    padding: 0 .5rem;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    background-color: #fafafa;
}

.sidebar .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .header h1 {
    font-size: 1.2rem;
    color: #3f3f3f;
}

.sidebar .content {
    padding: .5rem;
    overflow-y: scroll;
}

.item {
    color: #3f3f3f;
    font-size: .9rem;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding: .2rem 0;
    border-bottom: 1px dashed #eaeaea;
    transition: transform 0.3s ease;
}

.item:hover {
    transform: scale(1.05);
    color: #b62e2e;
}

.footer {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eeeeee;
}

.github {
    font-size: .8rem;
    transition: transform 0.3s ease;
}
.github:hover {
    transform: scale(1.05);
}
.github a {
    color: #3f3f3f;
    text-decoration: none;
}
.github a:hover {
    color: #b62e2e;
}